.keypad {
    max-width: 500px;
    margin: 20px auto;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.keypad button{
    margin:5px;
    width:40px;
    height:50px;
    background: #ccc;
    display: inline-block;
    border-radius: 6px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 1000;
    border: none;
    /* border-color: #ccc; */

}

.keypad > button.green{
    background: #5ac85a;
    color: #fff;
    transition: all 0.3s ease-in;
}

.keypad > button.yellow{
    background: #e2cc68;
    color: #fff;
    transition: all 0.3s ease-in;
}

.keypad > button.red{
    background: #db1e1e;
    color: #fff;
    transition: all 0.3s ease-in;
}

/* animations */