.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.row div{
    display:block;
    border: 1.5px solid #aaa;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 900;
}

.row div.green{
    --background:#5ac85a;
    --border-color: #5ac85a;
    color: #ffff;
    animation: flip 0.5s ease forwards;
}

.row div.red{
    --background:#db1e1e;
    --border-color: #db1e1e;
    color: #ffff;
    animation: flip 0.5s ease forwards;

}

.row div.yellow{
    --background:#e2cc68;
    --border-color: #e2cc68;
    /* color: #ffff; */
    animation: flip 0.5s ease forwards;
}

.row.current > div.filled{
    animation: bounce 0.2s ease-in-out forwards;
}


/* So that the flip animation happens one after the other */
.row > div:nth-child(2) {
    animation-delay: 0.2s;
}

.row > div:nth-child(3) {
    animation-delay: 0.4s;
}

.row > div:nth-child(4) {
    animation-delay: 0.6s;
}

.row > div:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes flip {
    0%{
        transform: rotateX(0);
        background: #fff;
        border-color: #aaa ;
    }
    45%{
        transform: rotateX(90deg);
        background: #fff;
        border-color: #aaa ;

    }
    55%{
        transform: rotateX(90deg);
        background: var(--background);
        border-color: var(--border-color);
        color: #fff;
    }
    100%{
        transform: rotateX(0);
        background: var(--background);
        border-color: var(--border-color);
        color: #fff;
    }
}

@keyframes bounce {
    0%{
        transform: scale(0);
        border-color: #aaa ;
    }

    50%{
        transform: scale(1.2);
    
    }
    100%{
        transform: scale(1);
        border-color: #000;
    }
}
/* This is for the samsung galaxy fold
 The screen cant contain all of the row squares at 60px sq */

@media screen and (max-width: 300px) {
    .row div{
        height: 40px;
        width: 40px;
    }
}