.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.row div{
    display:block;
    border: 1.5px solid #aaa;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 900;
}

.row div.green{
    background:#5ac85a;
    border-color: #5ac85a;
    color: #ffff
}

.row div.red{
    background:#db1e1e;
    border-color: #db1e1e;
    color: #ffff
}

.row div.yellow{
    background:#e2cc68;
    border-color: #e2cc68;
    color: #ffff
}

.row > div.filled{
    border: 2px solid #000;
}

/* This is for the samsung galaxy fold
 The screen cant contain all of the row squares at 60px sq */

@media screen and (max-width: 300px) {
    .row div{
        height: 40px;
        width: 40px;
    }
}